.wrapper {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

@media (min-width: 576px) {
  .wrapper {
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 80%;
    padding: 50px;
  }
  .text {
    flex-basis: 60%;
  }
}

.list {
  list-style-position: inside;
}

.title {
  margin-bottom: 50px;
}

.image {
  flex-basis: 35%;
}
